* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(218, 218, 255);
    width: 35rem;
    border-radius: 10px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
}

.content {
    padding: 4rem;
}

.question {
    margin-bottom: .8rem;
    font-weight: 500;
    font-size: 1.8rem;
    display: inline-block;
    width: 30rem;
}

ul {
    list-style-type: none;
    font-size: 1.3rem;
}

ul li {
    padding: 6px 0;
}

.submit {
    border: none;
    padding: 14px 0;
    background-color: rgb(145, 145, 255);
    width: inherit;
    font-size: 1.5rem;
    border-radius: 0 0 10px 10px;
    margin-top: -20px;
}

.submit,
label,
input {
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(154, 154, 253);
}

.submit:active {
    background-color: rgb(145, 145, 255);
}
#reload{
    margin-top: 2rem;
}
#result{
    padding: 1rem;
    font-size: 1.5rem;
}